body {
  background: radial-gradient(circle at center, #0b0020, #000010);
  color: #fff;
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 60px;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  color: white;
  margin-bottom: 2em;
}

.title {
  font-size: 3rem;
  color: #e0c3ff;
  letter-spacing: 2px;

}

/* Star and block icons */
.animated-icon1 {
  width: 100px;
  height: 100px;
  animation: float 3s ease-in-out infinite;
}

/* Star and block icons */
.animated-icon2 {
  width: 75px;
  height: 100px;
  animation: float 3s ease-in-out infinite;
}

.star {
  filter: drop-shadow(0 0 20px #c48aff);
  border-radius: 50%;
}

.block {
  border-radius: 20%;
  margin-left: 0px; /* move it right */
  background: linear-gradient(135deg, #ffe066, #c48aff);
  filter: drop-shadow(0 0 20px #f7d75c);
}

/* Glowing button */
.glow-button {
  display: inline-block;
  padding: 15px 40px;
  font-size: 1.3rem;
  color: #fff;
  background: linear-gradient(135deg, #b66dff, #7e5cff);
  border: none;
  border-radius: 50px;
  text-decoration: none;

  transition: all 0.3s ease;
}

.glow-button:hover {
  box-shadow: 0 0 25px #b66dff, 0 0 60px #7e5cff;
  transform: scale(1.05);
}

/* Animation for icons */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
